body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
  .visible {
    display: none;
  }
}

/* header----------------------------- */

.header {
  background-color: rgba(19, 19, 19, 1);
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .content {
    max-width: 380px;
    margin: 0 auto;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .content-header {
    justify-content: space-around;
  }
}

.navi {
  display: flex;
  align-content: center;
  list-style: none;
}

.link-navi {
  margin-right: 45px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 15px;
  font-size: 11px;
}

.link-navi:hover {
  color: #E3B873;
}

.link-phone {
  text-decoration: none;
  margin-right: 37px;
  color: white;
  line-height: 15px;
  font-size: 11px;
}

.link-phone:hover {
  color: #E3B873;
}

.logo-header {
  color: #E3B873;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0 auto;
}

.header-button {
  margin: 0 auto;
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
}

/* Common selectors ---------------*/

.font-sans {
  font-style: normal;
  font-weight: normal;
  font-family: 'Nunito Sans', sans-serif;
}

.font-yeseva {
  font-style: normal;
  font-weight: normal;
  font-family: 'Yeseva One', normal;
}

.label-black {
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}

.label-white {
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
}

/* Section1------------------------------ */

.section1-content {}

.section1-h1 {
  font-size: 40px;
  line-height: 53px;
  color: white;
  text-transform: uppercase;
  margin-top: 200px;
  /* padding-left: 130px; */
  max-width: 650px;
  margin-left: 130px;
}

@media screen and (max-width: 1300px) {
  .section1-h1 {
    font-size: 23px;
    margin: 0 auto;
    padding: 85px 18px 16px 18px;
    line-height: 132.83%;
  }
}

.text-section1 {
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 500px;
  margin-left: 130px;
}

@media screen and (max-width: 1300px) {
  .text-section1 {
    font-size: 15px;
    padding-top: 10px;
    padding: 10px 18px 16px 18px;
    line-height: 135.84%;
    margin: 0 auto;
  }
}

.span-section1 {
  color: #E3B873;
}

.section1-button {
  margin: 40px 130px;
}

@media screen and (max-width: 1300px) {
  .section1-button {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}

.button {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1300px) {
  .button {
    width: 338px;
    height: 51px;
    margin: 10px;
  }
}

.button-trans {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  margin-left: 10px;
  font-style: italic;
}

.button-trans:hover {
  background-color: #E3B873;
  border: 0;
}

@media screen and (max-width: 1300px) {
  .button-trans {
    display: initial;
  }
}

.section1 {
  position: relative;
  overflow: hidden;
  z-index: 3;
  background-image: url("../image/image1.jpg");
  background-size: cover;
  height: 707px;
}

.section1::before {
  background: rgb(57 53 53 / 71%);
  content: "";
  position: absolute;
  width: 100%;
  height: 707px;
  z-index: -1
}

@media screen and (max-width: 1300px) {
  .section1 {
    height: 576px;
  }
  .section1::before {
    height: 576px;
  }
}

/* ------------------Section2----------------------- */

.section2 {
  background-color: rgba(19, 19, 19, 1);
  padding-top: 50px;
  height: 1074px;
}

.block-section2 {
  /* max-width: 380px;
  height: 950px;
  margin-left: 88px;
  margin-right: 88px; */
}

.project {
  display: flex;
  max-width: 1440px;
  /* margin: 0 auto; */
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media screen and (max-width: 1300px) {
  .project {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}

.project-content {
  margin: 0 auto;
}

.project-title {
  color: #E3B873;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
}

@media screen and (max-width: 1300px) {
  .project-title {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.07em;
    line-height: 138.6%;
  }
}

.title-item-section2 {
  font-size: 18px;
  color: #E3B873;
  text-transform: uppercase;
}

.content-section2 {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 27px;
}

.subcontent-section2 {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
}

@media screen and (max-width: 1300px) {
  .content-section2 {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 36px;
  }
}

.project-image {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 1301px) {
  .select-left {
    width: 8px;
    height: 8px;
    top: 1.4ex;
    left: 1.1ex;
    border: 1px solid white;
    border-right: none;
    border-bottom: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-right: -8px;
  }
  .line-select {
    width: 40px;
    height: 1px;
    background-color: #FFFFFF;
  }
  .select-right {
    width: 8px;
    height: 8px;
    top: 1.4ex;
    left: 1.1ex;
    border: 1px solid white;
    border-right: none;
    border-bottom: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(135deg);
    margin-left: -8px;
  }
}

/* -------------------------------------------- */

@media screen and (max-width: 1300px) {
  .point-select {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin-top: 120px;
  }
}

@media screen and (max-width: 1300px) {
  .point-select-left {
    border-radius: 50%;
    display: inline-block;
    background-color: #E3B873;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }
  .point-select-left::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 1.4ex;
    left: 1.1ex;
    border: 3px solid white;
    border-right: none;
    border-bottom: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 1300px) {
  .point-select-right {
    border-radius: 50%;
    display: inline-block;
    background-color: #E3B873;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }
  .point-select-right::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 1.3ex;
    left: 1.6ex;
    border: 3px solid white;
    border-right: none;
    border-bottom: none;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

/* ----------------------------------------------- */

.select-image {
  justify-content: end;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .select-image {
    position: static;
  }
}

.select {
  display: flex;
  margin-bottom: 50px;
}

@media screen and (max-width: 1300px) {
  .select {
    display: none;
  }
}

.select-items {
  font-size: 14px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  list-style-type: none;
  margin: 0 0 0 50px;
}

.select-items_link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.select-items_link:hover {
  text-decoration: underline;
  color: #E3B873;
}

.cont-blocks {
  display: flex;
  max-width: 442px;
}

@media screen and (max-width: 1300px) {
  .cont-blocks {
    display: none;
    max-width: 442px;
  }
}

.cont3-4 {
  margin-left: 50px;
}

@media screen and (min-width: 1301px) {
  .project-image-select {
    max-width: 680px;
    width: 100%;
    height: 480px;
    background-image: url('../image/image2.png');
    background-size: cover;
  }
}

@media screen and (max-width: 1300px) {
  .project-image-select {
    background-image: url('../image/image22.jpg');
    height: 242px;
    width: 340px;
  }
}

@media screen and (max-width: 1300px) {
  .image {
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.select-bar {
  margin-top: 74px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .select-bar {
    margin: 0;
    display: none;
  }
}

.cont-blocks-mob {
  display: none;
}

.title-section2-mob {
  font-size: 14px;
  line-height: 138.6%;
  text-transform: uppercase;
  color: #E3B873;
}

@media screen and (max-width: 1300px) {
  .cont-blocks-mob {
    display: flex;
  }
}

.point {
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.point:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* -----------Section3------------------- */

.section3 {
  margin-top: -310px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1300px) {
  .section3 {
    margin-top: -360px;
    background-color: rgba(19, 19, 19, 1);
    height: 840px;
  }
}

.block-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3-title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
  .section3-title {
    font-size: 22px;
    line-height: 30px;
  }
}

.camera-icon {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-icon:before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: #E3B873;
  margin-right: 10px;
}

.camera-icon:after {
  content: '';
  width: 40px;
  height: 1px;
  background-color: #E3B873;
  margin-left: 10px;
}

.online-image {
  margin-bottom: 40px;
}

@media screen and (max-width: 1300px) {
  .online-image {
    margin-bottom: 0px;
    max-width: 340px;
    width: 100%;
    height: 207px;
  }
}

.line {
  margin-bottom: 34px;
  margin-top: 50px;
  width: 40px;
  height: 1px;
  background-color: #E3B873;
}

@media screen and (max-width: 1300px) {
  .line {
    /* margin-top: 28px;
    margin-bottom: 20px; */
  }
}

.block-section3-text {
  max-width: 680px;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .block-section3-text {
    max-width: 340px;
    width: 100%;
  }
}

.block-section3-text_content {
  font-size: 18px;
  line-height: 37px;
  color: #363636;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .block-section3-text_content {
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.section3-form {
  max-width: 650px;
  width: 100%;
}

.section3-form_input {
  display: flex;
  height: 150px;
  max-width: 800px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .section3-form_input {
    flex-direction: column;
    height: 250px;
    max-width: 375px;
    width: 100%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1300px) {
  .form-input_item {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .form-mob {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

@media screen and (max-width: 1300px) {
  .label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
  }
}

.input-form {
  border: none;
  outline: none;
  border-bottom: solid 1px #3a2222;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}

@media screen and (max-width: 1300px) {
  .input-form {
    line-height: 19px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    outline: none;
    border-bottom: solid 1px white;
    background-color: rgba(19, 19, 19, 1);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    height: 35px;
    width: 350px;
    color: rgba(255, 255, 255, 1);
  }
}

.button-check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .button-check {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1301px) {
  .button-check_button {
    display: none;
  }
}

.button-form {
  height: 51px;
  max-width: 200px;
  font-size: 13px;
  line-height: 27px;
}

@media screen and (max-width: 1300px) {
  .button-form {
    height: 51px;
    max-width: 340px;
    margin-top: 63px;
  }
}

.check {
  display: flex;
  justify-content: center;
}

.label-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .label-check {
    justify-content: flex-start;
  }
}

/* -------checkbox style-------- */

.checkbox {
  display: none;
}

.style-check {
  display: inline-flex;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: rgba(227, 184, 115, 1);
  border: none;
  position: relative;
  margin-right: 10px;
}

.style-check::before {
  content: "";
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  width: 1.2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.9ex;
  left: 0.4ex;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox:checked+.style-check::before {
  opacity: 1;
}

/* ----------------------- */

/* ------------------Section4----------------------- */

.section4 {}

.block-section4 {
  display: flex;
  flex-direction: column;
  height: 2035px;
}

@media screen and (max-width: 1300px) {
  .block-section4 {
    height: 2500px;
  }
}

.section4-title {
  display: flex;
  justify-content: center;
}

.title-repair {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 130px;
}

/* .repair-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.repair-icons::before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: #E3B873;
  margin-right: 10px;
}

.repair-icons::after {
  content: '';
  width: 40px;
  height: 1px;
  background-color: #E3B873;
  margin-left: 10px;
} */

@media screen and (min-width: 1301px) {
  .content-repair {
    display: flex;
    margin-bottom: 150px;
    justify-content: center;
  }
}

@media screen and (max-width: 1300px) {
  .content-repair {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }
}

.redecor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 650px;
  max-width: 470px;
}

@media screen and (max-width: 1300px) {
  .redecor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    height: 650px;
    max-width: 380px;
  }
}

.redecor-image {
  max-width: 380px;
}

.redecor-list {
  background-color: white;
  max-width: 330px;
  width: 100%;
  height: 286px;
  margin-top: -98px;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1300px) {
  .redecor-list {
    height: 290px;
  }
}

.redecor-list-title {
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding-left: 27px;
}

@media screen and (min-width: 1301px) {
  .redecor-button {
    height: 55px;
    width: 262px;
    font-size: 13px;
    line-height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1300px) {
  .redecor-button {
    height: 40px;
    width: 196px;
    text-align: left;
    font-style: normal;
    font-size: 15px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* .leave_request {
  display: flex;
  justify-content: space-around;
  background-image: url("../image/form_image.png");
  background-repeat: no-repeat;
} */

/* @media screen and (max-width: 1300px) {
  .leave_request {
    display: none;
  }
} */

.leave_request {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .leave_request {
    display: none;
  }
}

.leave_content {
  background-image: url("../image/form_image.png");
  display: grid;
  background-size: cover;
  height: 645px;
  max-width: 600px;
  width: 100%;
  justify-content: flex-end;
}

.leave-text {
  font-size: 14px;
  line-height: 19px;
  color: #363636;
}

.leave_content--item {
  display: flex;
  align-items: center;
}

.form-request {
  background-color: #131313;
  height: 509px;
  max-width: 506px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.label-form {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.form-request-input {
  font-size: 14px;
  line-height: 23px;
  border: none;
  outline: none;
  border-bottom: solid 1px white;
  background-color: rgba(19, 19, 19, 1);
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  height: 35px;
  width: 350px;
  color: rgba(255, 255, 255, 1);
}

.label-check-section4 {
  display: flex;
  align-items: center;
}

.button-call {
  align-self: flex-end;
  margin-right: 50px;
}

.form-measurer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.coins {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  align-items: center;
  padding-right: 270px;
}

@media screen and (max-width: 1300px) {
  .coins {
    display: none;
  }
}

.coin-pig {
  border-radius: 50%;
  display: flex;
  background-color: #E3B873;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: relative;
}

.coin-pig::before {
  content: "";
  background-image: url("../icons/pig.svg");
  width: 40px;
  height: 34px;
  background-size: cover;
  position: absolute;
  top: 6px;
  left: 5px;
}

/* Section5------------------------------ */

.section5-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -220px;
}

@media screen and (min-width: 1301px) {
  .section5-cont {
    display: none;
  }
}

.section5-cont-title {
  text-align: center;
  font-size: 22px;
  line-height: 138.6%;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  max-width: 300px;
  /* margin: 0 auto; */
  margin-bottom: 24px;
}

.section5-image-select {
  background-image: url('../image/image5.png');
  height: 242px;
  width: 340px;
  background-size: cover;
}

/* ------------------------------------ */

@media screen and (max-width: 1300px) {
  .section51 {
    background-color: rgba(19, 19, 19, 1);
    max-height: 150px;
  }
}

@media screen and (min-width: 1301px) {
  .section5 {
    position: relative;
    background-image: url('../image/image5.png');
    background-size: cover;
    height: 864px;
  }
  .overlay {
    position: relative;
    z-index: 1;
  }
  .section-over {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
  }
  .section5-block {
    height: 864px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1300px) {
  .section5 {
    position: relative;
    background-image: url('../image/image5.png');
    background-size: cover;
    max-height: 240px;
    max-width: 380px;
  }
}

.section5-title {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: rgba(227, 184, 115, 1);
  ;
}

@media screen and (max-width: 1300px) {
  .section5-title {
    font-size: 22px;
    line-height: 30, 49px;
    text-align: center;
  }
}

@media screen and (min-width: 1301px) {
  .section5-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .section5-image {
    display: flex;
    max-width: 751px;
    margin: 0 auto;
  }
  .section5-image512 {
    margin-right: 40px;
    position: relative;
    top: -70px;
  }
  .image5 {
    margin: 15px;
  }
  .section5-image534 {
    position: relative;
    top: -170px;
  }
  .section5-ul {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 1em;
  }
  .section5-li {
    margin-bottom: 1em;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
  }
  .section5-li:hover {
    color: rgba(227, 184, 115, 1);
  }
}

/* Section6----------------------------------- */

@media screen and (max-width: 1300px) {
  .section6 {
    display: none;
  }
}

@media screen and (min-width: 1301px) {
  .section6 {
    width: 100%;
    height: 1100px;
  }
  .section6-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px;
  }
  .title1-section6 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }
  .title2-section6 {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    max-width: 420px;
  }
  .clients {
    display: flex;
    justify-content: space-around;
  }
  .client {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  }
  .client-name {
    display: flex;
    align-items: center;
  }
  .photo {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }
  .client-photo {
    width: auto;
    height: 100%;
  }
  .name {
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    padding-left: 10px;
  }
  .client-font {
    padding: 20px;
  }
  /* .block-img {
  display: flex;
  top: 20px;
  position: relative;
} */
  .block-img-form {
    height: 100px;
    width: 150px;
  }
  .button-section6 {
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 13px 33px;
    color: white;
    margin-right: 0.1px;
    margin-left: 5px;
  }
  /* ------------------------------ */
  .block-img {
    display: flex;
  }
  .block-left {
    width: 135px;
    height: 54px;
    background-color: #E3B873;
    border-right-color: white;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-right: 10px;
    text-align: end;
    color: white;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 2px;
    border-right-width: 1px;
  }
  .block-right {
    width: 158px;
    height: 54px;
    background-color: #E3B873;
    padding-right: 10px;
    text-align: end;
    color: white;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 2px;
  }
}

/* ------------------------------ */

/* Section7----------------------------------- */

@media screen and (min-width: 1301px) {
  .section7 {
    background-image: url('../image/image7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 900px;
  }
}

@media screen and (max-width: 1300px) {
  .section7 {
    background-color: rgba(19, 19, 19, 1);
    height: 950px;
  }
}

.section7-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -200px;
}

.form-section7 {
  background-color: rgb(57 53 53);
  height: 400px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

@media screen and (max-width: 1300px) {
  .form-section7 {
    background-color: rgba(19, 19, 19, 1);
    height: 500px;
    width: 370px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1300px) {
  .label-check {
    align-self: flex-start;
    padding-left: 10px;
  }
}

.button-section7 {
  font-size: 13px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E3B873;
  height: 55px;
  width: 255px;
  border-radius: 2px;
  border: 0;
  padding: 13px 33px;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
}

@media screen and (max-width: 1300px) {
  .button-section7 {
    box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
    height: 51px;
    width: 340px;
  }
}

.title-form-section7 {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contact-section7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-section7-cont1 {
  display: flex;
}

@media screen and (max-width: 1300px) {
  .form-section7-cont1 {
    flex-direction: column;
  }
}

@media screen and (min-width: 1301px) {
  .form-input-section7 {
    background-color: rgb(57 53 53);
    margin-right: 10px;
  }
}

.title-contact-section7 {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin-top: 50px;
  max-width: 589px;
  margin-bottom: 26px;
  order: 1;
}

@media screen and (max-width: 1300px) {
  .title-contact-section7 {
    max-width: 340px;
    font-size: 18px;
    line-height: 138.6%;
  }
}

.icons-section7 {
  display: flex;
  margin-bottom: 30px;
  order: 2;
}

.mail {
  display: inline-block;
  width: 2.1em;
  height: 2.1em;
  vertical-align: middle;
  text-decoration: none;
  border: .25em solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  background: #E3B873;
  position: relative;
  z-index: 1;
  margin-right: 15px;
}

.mail:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../icons/mail.svg");
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-size: cover;
}

.insta {
  display: inline-block;
  width: 2.1em;
  height: 2.1em;
  vertical-align: middle;
  text-decoration: none;
  border: .25em solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  background: #E3B873;
  position: relative;
  z-index: 1;
}

.insta::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../icons/instagram.svg");
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-size: cover;
}

.map-section7-content {
  order: 3;
}

@media screen and (max-width: 1300px) {
  .map-section7 {
    max-width: 340px;
  }
  .map-section7-content {
    order: 1;
  }
  .title-contact-section7 {
    order: 2;
  }
  .icons-section7 {
    order: 3;
  }
}